// variable
:root {
  --font-body: "Outfit", sans-serif;
  --font-heading: "Manrope", serif;

  --color-primary: #2dd98f;

  --color-heading: #fff;
  --xb-track-color: #16171b;
  --color-dark: #0f172a;
  --color-white: #fff;
  --color-black: #000;
  --color-default: #c1c7de;
  --color-gray: #f8f8f8;
  --color-border: #eff5f8;
  --color-blue: #4a21ef;

  --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}
